<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"

>
<head>
    <title>Edit Club </title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="p-5 container">
        <form role="form" method="post" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}" th:object="${club}">
            <div class="form-row d-flex gap-3 flex-column ">
                <div class="form-group col-md-6">
                    <input type="hidden" th:field="*{id}" >
                    <label for="inputTitle">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="inputTitle"
                            name="title"
                            th:field="*{title}"
                            placeholder="Title">
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}" ></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUrl">PhotoURL</label>
                    <input
                            type="text"
                            class="form-control"
                            id="inputUrl"
                            name="photoURL"
                            th:field="*{photoURL}"
                            placeholder="Photo URL">
                    <p th:if="${#fields.hasErrors('photoURL')}" class="text-danger" th:errors="*{photoURL}" ></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputContent">Content</label>
                    <input
                            type="text"
                            class="form-control"
                            id="inputContent"
                            name="content"
                            th:field="*{content}"
                            placeholder="Content">
                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}" ></p>
                </div>

            </div>

            <button type="submit" class="btn btn-lg btn-primary mt-3">Create club</button>
        </form>

    </section>
</main>
</body>
</html>